.logo{
    width: 15vw;
    margin-bottom: 2rem;
}

.form-padding{
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (max-width: 640px) {
    .logo{
        width: 50vw;
    }

    .form-padding{
        padding-left: 0;
        padding-right: 0;
    }
}

.mobile-container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}